pandas
numpy
bs4
scikit-learn
scipy
requests
ipython
tqdm
catboost
lightgbm
notebook
ta
pandera
typer
shap
polars
asyncer
aiohttp
pyarrow
plumbum
pytest
ipywidgets
dvc
statsmodels
optuna
lightning
transformers[torch]
seaborn
gymnasium[all]
torchrl