pandas
numpy<2.0.0
bs4
scikit-learn
scipy
requests
ipython
tqdm
catboost
lightgbm
notebook
ta
pandera
typer
shap
polars
asyncer
aiohttp
pyarrow
plumbum
pytest
ipywidgets
dvc
statsmodels
optuna
lightning
torch>=2.0.1
transformers[torch]
seaborn
gymnasium>=0.28.1
-- torchrl
-- stable-baselines3
ray[rllib]>=2.32.0
-- PettingZoo[classic,butterfly,atari]>=1.24.0
-- Pillow>=9.4.0
-- SuperSuit>=3.9.0
-- autorom
tensorboard
wandb
cachetools==5.3.3
lightning-bolts